<main>
    <div class="jumbotron mt-3 prodavam-bg-color">
        <h1>Welcome to Prodavam Web Shop</h1>
        <hr class="bg-white" />
        <h3><a class="nav-link-dark" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a> if you have an account.</h3>
        <h3><a class="nav-link-dark" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a> if you don't.</h3>
    </div>
</main>